build/
build/*
build/**
doc/api/_build/
doc/api/_build/*
doc/api/_build/**
*.pyc
*.bin
*.lbin
*.dbin
*.dom
*.txt
*.png
.ptp-sync*
*.mp4
.hgempty
.settings*
config/*
tests/src/generated/*
.project
.pydevproject
ManualHeat/*
*.log
*.html
*statistic
*.cpp
*.sh
*.so
*tempFile
*~
*.zip
*.out
!tests/problems/1dTests/Ginzburg_Landau/out/*.ou
!tests/problems/1dTests/Ginzburg_Landau_params/out/*.out
!tests/problems/2dTests/heat_block_2_ics_other_offsets/out/*.out
*.nfs000*
dist/project_folder/settings/*.json
dist/tests/settings/*.json

TAGS
